.box-project {
    display: flex;
    justify-content: space-between;
    height: 45vh;
    width: 100vw;
}
* {
    box-sizing: border-box;
    margin: 0;
}

.box-left {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.box-right {
    /* color: white; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
}

.project-pic {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.banner {
    width: 100vw;
    height: 45vh;
    object-fit: cover;
}

.project-icon {
    padding: 5px;
    height: 40px;
    width: 40px;
}

.box-right:hover {
    color: white;
    background-color: black;
}

.box-right h2 {
    text-align: center;
    line-height: 2em;
}

.box-right:hover svg {
    fill: white;
}

.description {
    width: 50%;
    margin-bottom: 10px;
    text-align: center;
}
.rotate-center:hover {
    -webkit-animation: rotate-center 0.6s ease-in-out both;
    animation: rotate-center 0.6s ease-in-out both;
}

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 568px) {
    .box-project {
        height: 80vh;
    }

    .description {
        font-size: 12px;
    }

    .project-icon {
        height: 30px;
        width: 30px;
    }

    .box-right h2 {
        font-size: 20px;
    }
}

@media screen and (min-width: 700px) and (max-width: 900px) {
    .box-project {
        height: 70vh;
    }

    .description {
        font-size: 15px;
        margin-bottom: 10px;
    }

    .project-icon {
        height: 40px;
        width: 40px;
    }

    .box-footer {
        font-size: 15px;
        justify-content: center;
    }
}

@media screen and (min-width: 300px) and (max-width: 450px) {
    .box-project {
        height: 90vh;
    }

    .description {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .project-icon {
        height: 30px;
        width: 30px;
    }

    .box-footer {
        font-size: 12px;
        justify-content: center;
    }

    .menu-icon {
        height: 40px;
    }

    .box-right h2 {
        font-size: 15px;
    }
}
